<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <script>
        function check_mail() {
            $.ajax({
                type: "POST",
                url: "/check_mail",
                data: $('form').serialize(),
                success: function (response) {
                    var json = jQuery.parseJSON(response)
                    $('#mail_status').html(json.mail_status)
                    console.log(response);
                },
                error: function (error) {
                   console.log(error)
                }
            });
        }
    </script>
    <form action="/check_mail" method="post" name="form">
        <label for="mail">Введите почту:</label>
        <input id="mail" name="mail" type="text">
        <input type="button" value="Отправить" onclick="check_mail();">
    </form>
    <div id="mail_status"></div>
</body>
</html>